/* RESET START */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@media screen and (min-width: 320px) and (max-width: 425px) {
		font-size: 50%;
	}
} /* RESET END */
