.main {
	margin: 4rem 0 0;
	padding-bottom: 4rem;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 730px) {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 4rem;
		}
	}

	&__country-section {
		margin-top: 5rem;
	}

	&__country-list-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 6rem;

		position: relative;
		z-index: 1;
	}
}
