.main {
	margin: 4rem 0 0;
	padding-bottom: 4rem;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 730px) {
			display: grid;
			grid-template-columns: 1fr;
			row-gap: 4rem;
		}
	}

	&__country-section {
		margin-top: 5rem;
	}

	&__country-list-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 6rem;

		position: relative;
		z-index: 1;

		@media screen and (max-width: 730px) {
			justify-items: center;
			grid-template-columns: 1fr;
		}
		
		@media screen and (min-width: 730px) and (max-width: 768px) { 
			grid-template-columns: repeat(3, 1fr);
		}

	}
}
